@font-face {
  font-family: 'bellota';
  src: url('fonts/Bellota-Regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
font-family: 'bellota';
overflow-x: hidden;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  color: #333;
  text-align: center;
}

.hide-robot {
  display: none;
}
